<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ctxModulos" connectionString="metadata=res://*/ctxModulos.csdl|res://*/ctxModulos.ssdl|res://*/ctxModulos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HLPSRV;initial catalog=PROD_MODULOS;persist security info=True;user id=sa;password=H029060tSql;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ctxFormularios" connectionString="metadata=res://*/vwForms.csdl|res://*/vwForms.ssdl|res://*/vwForms.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HLPSRV;initial catalog=PROD_MODULOS;persist security info=True;user id=sa;password=H029060tSql;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>